
body {
	font-family: Source Sans Pro, Segoe UI Symbol, Segoe UI, Roboto,
		Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif,
		helvetica, sans;
	-webkit-font-smoothing: antialiased;
	-webkit-transition: display 2s, width 2s, height 2s, -webkit-transform
		2s, background-image 0.5s;
	transition: display 2s, width 2s, height 2s, transform 2s,
		background-image 0.5s;
	background-color: black;
	width: 100%;
	height: 100%;
	margin: 0px;
	color: rgb(219, 219, 219);
	margin: 0px;
	padding: 0px;
	font-size: 1em;
}

button {
	color: black;
	vertical-align: middle;
	display: inline-block;
	border-radius: 0.5em;
	margin: 1em;
	padding: 1em;
	border-style: none;
	-webkit-transition: color 77ms ease 1s;
	-moz-transition: color 77ms ease 1s;
	-o-transition: color 77ms ease 1s;
	transition: color 77ms ease 1s;
	-webkit-transition: background-color 77ms ease 1s;
	-moz-transition: background-color 77ms ease 1s;
	-o-transition: background-color 77ms ease 1s;
	transition: background-color 77ms ease 1s;
}

a {
	text-decoration: none;
	color: inherit;
}

a:visited {
	color: rgba(color, 0.8);
}

input, select, textarea, button {

}

p {
	margin: 0;
	padding: 0;
}

blockquote {
	/* 	background-color: rgba(128, 128, 128, 0.5); */
	font-style: italic;
	font-size: 0.9em;
}

blockquote:before {
	content: '"';
	position: relative;
	/*  left: 0.4em;*/
}

blockquote:after {
	content: '"';
	/*  position: absolute;*/
}

table {
	/*	border: 2px solid;
	border-radius: 0.5em; */
	padding: 0px;
	margin-top: 0px;
}

tr {
	margin: 0;
	padding: 0;
}

ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

ul:hover {
	/*
	-webkit-transform: rotate(90deg);
	transform: rotate(90deg);
*/

}

li {
	list-style-type: none;
}

img {
	border: 0;
}

h1 { /*	background-color: rgb(82, 87, 89);*/
	font-variant: small-caps;
	margin: 0.0em;
}

h2 {
	font-variant: small-caps;
	margin: 0.0em;
}

h3 {
	/*	background-color: rgb(82, 87, 89);*/
	font-variant: small-caps;
	margin: 0.0em;
}

h4 {
	/*	background-color: rgb(82, 87, 89);*/
	font-variant: small-caps;
	margin: 0.0em;
}

h5 {
	/*	background-color: rgb(82, 87, 89);*/
	font-variant: small-caps;
	margin: 0.0em;
}

h6 {
	/*	background-color: rgb(82, 87, 89);*/
	font-variant: small-caps;
	margin: 0.0em;
}

img {
	border: 0px;
}

li {
	list-style: none;
}

.borderLine {
	background-color: rgba(128,128,128,0.2);
	margin: 0.1em;
	padding: 0.1em;
	border-color: white;
	border-style: solid;
	border-radius: 0.1em;
	border-width: 0.01em;
	border-color: white;
}
.landscape_only {
	display: none;
}

.portrait_only {
	display: inline;
}

@media ( max-width : 1920px) and (orientation:portrait) {
	body {
		/*background-color: rgba(0,0,0,192);*/
		font-size: 350%;
	}
	#footerblock {
		font-size: 1em;
	}
}

@media ( max-width : 1080px) and (orientation:portrait) {
	body {
	font-size: 250%;
	}
}

@media ( max-width : 720px) and (orientation:portrait) {
	body {
		font-size: 140%;
	}
}

@media ( max-width : 480px) and (orientation:portrait) {
	body {
		font-size: 130%;
	}
}

@media ( max-width : 480px) and (orientation:landscape) {
	body {
		 		//background-color: lime;
	}
	.landscape_only {
		display: inline;
	}
	.portrait_only {
		display: none;
	}
}

@media ( max-width : 1920px) and (orientation: landscape) {
	body {
		font-size: 200%;
	}
	.landscape_only {
		display: inline;
	}
	.portrait_only {
		display: none;
	}
}
