#!/usr/bin/env xdg-open

[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=Relay 0
Comment=Toggle Relay 0
Exec=curl http://ad.amapz.com/relay/0/toggle
Icon=/usr/share/icons/gnome/scalable/devices/network-wired-symbolic.svg
Terminal=true
